// Here is the typography. I'm importing my font below and removing text-decoration from all links here.
// You can put other font-related things here. 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}