.home {
  text-align: center;
  background: $homeBackGroundDark;
  grid-column: 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  &-entrance {
    align-self: center;
    & h1 {
      font-size: 15rem;
      text-shadow: .75rem .75rem black;
      animation: reveal 2.5s cubic-bezier(0, 1, 0.5, 1) 1;
    }
  }
}