.header {
  background: #222;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  & a {
    text-align: center;
    justify-self: center;
    font-size: 1.8rem;
    width: 5rem;
    padding: 0 .5rem 0 .5rem;
  }
  &-home {
    &__current {
      @include headerCurrent;
    }
  }
  &-throughnine {
    &__current {
      @include headerCurrent;
    }
  }
}