.header {
  background: #222;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  text-align: center;
  font-size: 2rem;
  & a {
    justify-self: center;
  }
  &-home {
    &__current {
      @include headerCurrent;
    }
  }
  &-throughnine {
    &__current {
      @include headerCurrent;
    }
  }
  &-throughnineteen {
    &__current {
      @include headerCurrent;
    }
  }
  &-throughtwentynine {
    &__current {
      @include headerCurrent;
    }
  }
}